@import "tailwindcss";

@theme {
    /* Lưu ý: Các mốc sm, md, lg, xl, 2xl là mặc định của Tailwind nên không cần khai báo lại.
       Bạn chỉ cần thêm mốc mới là 'xs'. */
    --breakpoint-xs: 480px;
    --color-brightenUp: #F59E0B;
    --color-bgHeaderFooter: #F1EDE4;
    --color-bgPrimary: transparent;
    --color-textHeader: #172226;
    --color-textPrimary: #000000;
    --color-textSecondary: #9CA3AF;
}
