@import "tailwindcss";

@theme {
    /* Lưu ý: Các mốc sm, md, lg, xl, 2xl là mặc định của Tailwind nên không cần khai báo lại.
       Bạn chỉ cần thêm mốc mới là 'xs'. */
    --breakpoint-xs: 480px;
    --color-bgHeaderFooter: #F1EDE4;
    --color-bgPrimary: transparent;
    --color-dark: #2E251F;
    --color-primary: #BF8055;
    --color-light: #E9E3DD;
    --color-textHover: #F59E0B;
    --color-textSecondary: #9CA3AF;
}
